body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin: 40px 0px;
}

#blocks {
    display: flex;
}

.block {
    height: 200px;
    width: 200px;
    margin: 10px 5px;
    background-color: aqua;

}